@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif; }

body {
  background-image: url(../images/resumeBG1.jpg);
  background-size: 100%;
  background-repeat: no-repeat; }

.callMePopup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  display: flex;
  opacity: 0;
  transition: 0.5s;
  z-index: -10;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: -100;
  font-size: 20px; }
  .callMePopup .popup {
    padding: 50px 40px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    height: auto;
    width: 500px;
    background: white;
    position: relative;
    z-index: 200; }
    .callMePopup .popup .closeModal {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .callMePopup .popup .closeModal:hover {
        cursor: pointer; }
      .callMePopup .popup .closeModal span {
        transform: rotate(45deg);
        width: 26px;
        height: 2px;
        display: flex;
        position: relative;
        background-color: black; }
        .callMePopup .popup .closeModal span::after {
          background-color: black;
          position: absolute;
          content: '';
          width: 26px;
          height: 2px;
          transform: rotate(90deg); }
    .callMePopup .popup .look {
      font-size: 30px;
      margin-bottom: 10px; }
    .callMePopup .popup .number {
      margin-top: 10px;
      font-size: 26px; }
      .callMePopup .popup .number span {
        font-family: sans-serif;
        font-weight: 600; }
      .callMePopup .popup .number .line {
        width: 100%;
        height: 1px;
        background: #bdbdbd;
        margin: 20px 0 10px; }
      .callMePopup .popup .number a {
        text-decoration: none;
        color: #1b91ff; }

.activePopup {
  z-index: 100;
  opacity: 1; }

a:hover, button:hover {
  cursor: pointer; }

.wrapper {
  padding-bottom: 200px;
  z-index: 20;
  flex-direction: column;
  display: flex;
  width: 1400px;
  box-sizing: border-box; }
  .wrapper .actionButtons {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 50px;
    justify-content: space-between; }
    .wrapper .actionButtons .social {
      width: 180px;
      display: flex;
      justify-content: space-between; }
      .wrapper .actionButtons .social a i {
        color: #0a66c2;
        font-size: 30px;
        transition: 0.7s; }
      .wrapper .actionButtons .social a:hover i {
        transform: scale(1.2);
        color: #2284e6; }
    .wrapper .actionButtons .callMe {
      margin-right: 10px;
      background-color: white;
      color: #0a66c2;
      text-decoration: none;
      border: 3px solid #0a66c2;
      padding: 20px 40px;
      font-size: 18px;
      letter-spacing: 1.6px;
      transition: 0.5s;
      font-weight: 600; }
      .wrapper .actionButtons .callMe:hover {
        cursor: pointer;
        background-color: #0a66c2;
        color: white; }
    .wrapper .actionButtons #downloadPDF {
      background-color: white;
      color: #0a66c2;
      text-decoration: none;
      border: 3px solid #0a66c2;
      padding: 20px 40px;
      font-size: 18px;
      letter-spacing: 1.6px;
      transition: 0.5s;
      font-weight: 600; }
      .wrapper .actionButtons #downloadPDF:hover {
        cursor: pointer;
        background-color: #0a66c2;
        color: white; }
  .wrapper .resumeDoc {
    flex-direction: column;
    box-sizing: border-box;
    padding: 80px;
    background-color: white;
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: auto; }
    .wrapper .resumeDoc .top {
      display: flex;
      width: 100%; }
      .wrapper .resumeDoc .top .left img {
        max-height: 400px; }
      .wrapper .resumeDoc .top .right {
        padding-left: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column; }
        .wrapper .resumeDoc .top .right span {
          letter-spacing: 1.5px;
          margin: 0;
          font-size: 30px; }
        .wrapper .resumeDoc .top .right .name {
          font-size: 50px; }
        .wrapper .resumeDoc .top .right .job {
          color: #858585;
          font-size: 37px; }
        .wrapper .resumeDoc .top .right .summary {
          display: flex;
          flex-direction: column; }
          .wrapper .resumeDoc .top .right .summary .title {
            margin-top: 26px;
            font-weight: 600;
            font-size: 40px; }
          .wrapper .resumeDoc .top .right .summary span {
            font-size: 25px; }
          .wrapper .resumeDoc .top .right .summary ul li {
            font-size: 19px; }
    .wrapper .resumeDoc .progressBar {
      margin-top: 40px;
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between; }
      .wrapper .resumeDoc .progressBar .line {
        width: 90%;
        background-color: #018dff;
        height: 3px;
        position: relative;
        align-items: center; }
        .wrapper .resumeDoc .progressBar .line .company {
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: column;
          position: absolute;
          align-items: center; }
          .wrapper .resumeDoc .progressBar .line .company .circle {
            position: absolute;
            top: -10px;
            left: 0;
            display: flex;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #018dff; }
          .wrapper .resumeDoc .progressBar .line .company .details {
            transition: 0.5s;
            display: flex;
            flex-direction: column;
            height: 70px;
            width: 200px;
            padding: 15px 10px;
            box-sizing: border-box;
            background: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            margin-top: 30px;
            position: absolute;
            display: flex;
            font-size: 19px; }
            .wrapper .resumeDoc .progressBar .line .company .details .main {
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: center;
              height: 40px; }
            .wrapper .resumeDoc .progressBar .line .company .details .more {
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              opacity: 0;
              transition: 0.7s;
              flex-direction: column; }
              .wrapper .resumeDoc .progressBar .line .company .details .more .date {
                color: #a8a8a8; }
            .wrapper .resumeDoc .progressBar .line .company .details img {
              height: 40px;
              width: 40px; }
            .wrapper .resumeDoc .progressBar .line .company .details span {
              margin-left: 10px; }
            .wrapper .resumeDoc .progressBar .line .company .details:hover {
              height: 150px; }
              .wrapper .resumeDoc .progressBar .line .company .details:hover .more {
                opacity: 1; }
        .wrapper .resumeDoc .progressBar .line .grosvenor {
          margin-left: 0; }
        .wrapper .resumeDoc .progressBar .line .freelancehunt {
          margin-left: 26%; }
        .wrapper .resumeDoc .progressBar .line .freelancehunt2 {
          margin-left: 100%; }
        .wrapper .resumeDoc .progressBar .line .winservice {
          margin-left: 60%; }
          .wrapper .resumeDoc .progressBar .line .winservice .main {
            flex-direction: column; }
            .wrapper .resumeDoc .progressBar .line .winservice .main img {
              width: 100%; }
            .wrapper .resumeDoc .progressBar .line .winservice .main span {
              display: none; }
      .wrapper .resumeDoc .progressBar .dateStart, .wrapper .resumeDoc .progressBar .dateEnd {
        width: 1%; }
    .wrapper .resumeDoc .skills {
      margin-top: 200px;
      padding: 0 50px;
      box-sizing: border-box;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      align-items: center; }
      .wrapper .resumeDoc .skills .title {
        font-size: 56px;
        font-weight: 600; }
      .wrapper .resumeDoc .skills .tags {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap; }
      .wrapper .resumeDoc .skills .tag {
        margin-top: 20px;
        background-color: whitesmoke;
        border: 1px solid #c2c2c2;
        padding: 5px 10px;
        margin-left: 25px;
        font-size: 24px;
        border-radius: 25px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35); }

.projects {
  margin-top: 200px;
  width: 100%;
  text-align: center;
  height: 800px; }
  .projects h1 {
    font-weight: 600;
    font-size: 60px; }
  .projects .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .projects .cards .card {
      margin-top: 30px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 31%;
      height: 300px;
      transition: 0.2s;
      overflow: hidden; }
      .projects .cards .card img {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        transition: 0.2s; }
      .projects .cards .card:hover {
        transform: scale(1.1);
        cursor: pointer; }

.createdBy {
  text-align: center;
  font-size: 24px; }
  .createdBy a {
    text-decoration: none;
    color: #40a9ff; }
  .createdBy .year {
    font-size: 22px; }

@media (max-width: 1400px) {
  .wrapper {
    width: auto; } }

@media (max-width: 1200px) {
  .wrapper .resumeDoc {
    margin-top: 200px; }
  .wrapper .progressBar {
    display: none !important; } }

@media (max-width: 968px) {
  .wrapper {
    width: 90%;
    padding-bottom: 50px; }
    .wrapper .actionButtons {
      padding: 10px 10px; }
    .wrapper .resumeDoc {
      padding: 50px 25px; }
      .wrapper .resumeDoc .top {
        flex-direction: column; }
        .wrapper .resumeDoc .top .left img {
          max-width: 250px; }
        .wrapper .resumeDoc .top .right {
          padding-left: 0; }
          .wrapper .resumeDoc .top .right .name {
            margin-top: 20px;
            font-size: 7vw; }
          .wrapper .resumeDoc .top .right .job {
            font-size: 4vw; }
          .wrapper .resumeDoc .top .right .city {
            font-size: 4vw; }
          .wrapper .resumeDoc .top .right .summary .title {
            font-size: 5vw; }
          .wrapper .resumeDoc .top .right .summary span {
            font-size: 3vw; }
          .wrapper .resumeDoc .top .right .summary ul li {
            font-size: 2.5vw; }
      .wrapper .resumeDoc .skills {
        margin-top: 100px;
        padding: 0; }
        .wrapper .resumeDoc .skills .title {
          font-size: 7vw; }
    .wrapper .projects {
      margin-top: 50px;
      height: auto; }
      .wrapper .projects h1 {
        font-size: 8vw; }
      .wrapper .projects .cards .card {
        width: 48%; } }

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
    align-items: center; }
    .wrapper .resumeDoc {
      margin-top: 60px; }
      .wrapper .resumeDoc .top .right .summary span {
        font-size: 5vw; }
      .wrapper .resumeDoc .top .right .summary ul li {
        font-size: 3.5vw; }
    .wrapper .actionButtons {
      justify-content: space-around;
      height: 180px;
      flex-direction: column; } }
